body{
    background-color: rgb(159, 139, 179);
    display: flex;
    flex-direction: column;
}
p{
    color: white;
    text-align: center;
    font-size: 50px;
}
a{
    text-decoration: none;
}
strong{
    color: orange;
}
h1, h2, h3{
    color: cyan;
    font-size: 24px;
    text-align: right;
}
img{
    width: 50%;
    height: 50%;
    margin: auto;
}
a{
    display: flex;
    flex-direction: column;
}
button{
    display: flex;
    width: 100px;
    height: 20px;
    background-color: green;
    color: white;
    border-radius: 20px;
    margin: auto;
}
