body{
    background-color: rgb(209, 209, 209);
    display: flex;
    flex-direction: column;
}
p{
    color: rgb(199, 0, 0);
    text-align: right;
    font-size: 24px;
}
a{
    text-decoration: none;
}
strong{
    color: orange;
}
h1, h2, h3{
    color: rgb(0, 0, 0);
    text-align: left;
}
img{
    width: 50%;
    height: 50%;
    margin: auto;
}
a{
    display: flex;
    flex-direction: column;
}
button{
    display: flex;
    width: 100px;
    height: 20px;
    background-color: rgb(75, 75, 75);
    color: white;
    border-radius: 20px;
    margin: auto;
}
